 body {
  /* background-color: #41B3A3; */
  background-color: #7EC2AD;
} 

h1, h2, h3, h4, h5, h6 {
  text-align: center;
}

table, th, td {
  border: 1px solid black;
}

/* @media (max-width: 575.98px) {
  .graph_9x9 {
    background: #E8F3F1;
    border-radius: 0%;
  }
} */

.graph_9x9 {
  /* background: #F5F5F5; */
  background: #E8F3F1;
  border-radius: 1.5%;
}

.leaf_logo {
  height: 40px;
  width: 40px;
}

.navbar {
  background: #545479;
}
