body {
  background-color: #7EC2AD;
  background-image: url('../images/plants_pattern.jpg');
  background-size: 50%;
} 

h1, h2, h3, h4, h5, h6 {
  text-align: center;
}

.main_content {
  background-image: url('../images/natural_paper.png');
  border-radius: 12px;
}

footer {
  text-align: center;
  font-size: 18px;
}

.citations {
  text-align: center;
  font-size: 15px;
}

.nav_icon {
  height: 50px;
  width: 50px;
  /* margin-top: 3px; */
}

.nav-item {
  padding-left: 16px;
  padding-right: 16px;
}

/* Hover functionality */
.nav-link .nav_icon {
  opacity: 0.5;
}

/* Center Navbar (not small screen) */
@media (min-width: 768px) {
  .navbar-nav {
      float:none;
      margin:0 auto;
      display: block;
      text-align: center;
  }

  .navbar-nav > li {
      display: inline-block;
      float:none;
  }
}

.nav-link:hover .nav_icon:not(.active) {
  opacity: 0.75;
}

.nav_icon.active {
  opacity: 1;
}

.navbar {
  background: #2F4858;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-right: 1px;
  padding-left: 1px;
}


.center-block {
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  display: block;
}

.ldBar-label{
  font-weight: bold;
}

.temp_bars .ldBar-label{
  background: #E4E4E4;
}

.temp_bars .ldBar-label::after{
  content: "℉";
}

.lux_bars .ldBar-label::after{
  content: " lx";
}

#notifications_div {
  position: fixed;
  right : 15px;
  bottom: 15px;
}

.alert {
  margin: 6;
  width: 300px;
}

.paragraph_text {
  font-size: 18px;
}