{% load static %}
<html>
  <head>
    <!-- Required meta tags (Bootstrap) -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% include 'base/css.html' %} <!-- Bootstrap -->

    <title>Sensor Data</title>
    <link rel="stylesheet" href="{% static 'css/sensors.css' %}">
  </head>
  <body>

    {% block mynavbar %}
    {% endblock mynavbar %}


    <div class='container main_content'>
      {% block content %}
      {% endblock content %}
    </div>

    <div id="notifications_div">
    </div>

    <div class='container'>
      <footer>
        {% block footer %}
        {% endblock footer %}
      </footer>
    </div>

    {% include 'base/js.html' %}
    <script>
    $(document).ready(function(){
      {% block jquery_nav %}{% endblock %}
      {% block jquery %}{% endblock %}
    })
    </script>

  </body>
</html