{% extends 'sensors/navbar.html' %}

{% load static %}

<script>
{% block jquery %}
{% endblock %}
</script>

{% block content %}
    <div class="graph_9x9">
        <div class="container my-3"> <!-- my-3 is margin y for spacing -->
            <div class='row'>
                <div class='col-md-12'>
                    <h1 class='display-4'>Help</h1> 
                </div>
            </div>
            <div class='row'>
                <div class='col-md-12'>
                    <span class="paragraph_text align-center">
                        For more documentation check out the README on my github page!<br>
                        <strong>Github: </strong><a href="https://github.com/Matthew-Hubbard/Plant_Monitor_Project"> https://github.com/Matthew-Hubbard/Plant_Monitor_Project</a><br>
                        <h4 style="text-align: left">Wiring Diagram Master Sensor: </h4>
                        <img class = "center-block" src = "{% static 'images/Plant_Monitoring_Project_v1.0_bb.png'%}" style="max-width: 80%; max-height: 80%;"></img><br>
                    </span>
                </div>
            </div>
        </div>
    </div>
{% endblock %}