{% extends 'sensors/navbar.html' %}
{% load static %}

<script>
    {% block jquery %}

    $('#myModal').modal('show');
    {% comment %} $('.toast').toast('show') {% endcomment %}
    
    function my_alert(message){
        html_str = '<div class="alert alert-primary alert-dismissible fade show" role="alert">\
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">\
        <span aria-hidden="true">&times;</span>\
        </button>'+ message + '</div>';
        $('#notifications_div').append(html_str);
    }

    {% comment %} Enable all tooptips {% endcomment %}
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    }) 

    var moisture = 100;
    {% for id in id_list %}
        {% comment %} Set the water drop loading bar to the moisture percentage for each sensor {% endcomment %}
        moisture = {{ moisture_percent }}['{{ id }}'];
        $("#water_bar_{{ id }}").attr("data-value", moisture);
        if(moisture < 20){
            $("#tooltip_water_{{ id }}").attr("title", "Water me!");
            my_alert('<strong>Sensor {{ id }} needs water!</strong><br> (Moisture: ' + moisture.toFixed(1) + '%)');
        } else {
            $("#tooltip_water_{{ id }}").attr("title", "Looks good!");
        }
    {% endfor %}

    var temp = 80;
    {% for id in id_list %}
        {% comment %} Set the temp loading bar to the room temp for each sensor {% endcomment %}
        temp = {{ temp_room_data }}['{{ id }}'];
        $("#temp_bar_{{ id }}").attr("data-value", temp);
        if(temp < 60){
            $("#tooltip_temp_{{ id }}").attr("title", "Little chilly in here!");
            my_alert('<strong>Sensor {{ id }} is too cold!</strong><br>(Room temp: ' + temp + '℉)');
        } else if(temp > 90){
            $("#tooltip_temp_{{ id }}").attr("title", "Turn down the heat!");
            my_alert('<strong>Sensor {{ id }} is too hot!</strong><br>(Room temp: ' + temp + '℉)');
        } else{
            $("#tooltip_temp_{{ id }}").attr("title", "Looks good!");
        }
    {% endfor %}

    var humidity = 50;
    {% for id in id_list %}
        {% comment %} Set the humidity loading bar to the humidity for each sensor {% endcomment %}
        humidity = {{ humidity_data }}['{{ id }}'];
        $("#humidity_bar_{{ id }}").attr("data-value", humidity);
        if(humidity < 20){
            $("#tooltip_humidity_{{ id }}").attr("title", "It's dry in here!");
            my_alert('<strong>Sensor {{ id }} is too dry!</strong><br> (Humidity: ' + humidity + '℉)');
        } else if (humidity > 80){
            $("#tooltip_humidity_{{ id }}").attr("title", "It's really humid!");
            my_alert('<strong>Sensor {{ id }} is too wet!</strong><br> (Humidity: ' + humidity + '℉)');
        } else {
            $("#tooltip_humidity_{{ id }}").attr("title", "Looks good!");
        }
    {% endfor %}

    var lux = 666;
    {% for id in id_list %}
        {% comment %} Set the lux loading bar to the lux for each sensor {% endcomment %}
        lux = {{ lux_data }}['{{ id }}'];
        $("#lux_bar_{{ id }}").attr("data-value", lux);
        if(lux < 150){
            $("#tooltip_lux_{{ id }}").attr("title", "I need more light!");
            my_alert('<strong>Sensor {{ id }} needs light!</strong><br> (lux: ' + lux + '℉)');
        } else {
            $("#tooltip_lux_{{ id }}").attr("title", "Looks good!");
        }
    {% endfor %}

    {% endblock %}
</script>

{% block content %}
    <div class = "graph_9x9">
        <div class="container my-3"> <!-- my-3 is margin y for spacing -->

            <div class='row'>
                <div class='col-md-12'>
                    <h1 class='display-3'>Status</h1> 
                </div>
            </div>
 
            {% comment %} <div class = 'row'>
                <div class = 'col-md-12'>
                    <div class="alert alert-danger text-center" role="alert">
                        Sensor 0 and Sensor 2 need water!
                    </div>
                </div>
            </div> {% endcomment %}

            <div class='row'>
            {% for id in id_list %}
                <div id="tooltip_lux_{{ id }}" class = 'col-md-3 my-3 lux_bars btn' data-toggle="tooltip" data-placement="top" title="Looks good!">
                    <h6>Sensor {{ id }}</h6>
                    <div id="lux_bar_{{ id }}" class="center-block ldBar label-center" data-type="fill" data-img="{% static 'images/sun.svg' %}" data-precision="0.1" data-max = "600" data-value="50"></div>
                </div>
            {% endfor %}
            </div>

            {% comment %} Water drops to represent moisture (4 per row) {% endcomment %}
            <div class='row'>
            {% for id in id_list %}
                <div id="tooltip_water_{{ id }}" class='col-md-3 my-3 water_bars btn' data-toggle="tooltip" data-placement="top" title="">
                    <h6>Sensor {{ id }}</h6>
                    <div id="water_bar_{{ id }}" data-type="fill" data-img="{% static 'images/drop.svg' %}" data-precision="0.1" class="center-block ldBar label-center" data-value="50"></div>
                </div>
            {% endfor %}
            </div>

            <div class='row'>
            {% for id in id_list %}
                <div id="tooltip_temp_{{ id }}" class='col-md-3 my-3 temp_bars btn' data-toggle="tooltip" data-placement="top" title="Looks good!">
                    <h6>Sensor {{ id }}</h6>
                    <div id="temp_bar_{{ id }}" class="center-block ldBar label-center" data-type="fill" data-img="{% static 'images/thermometer.svg' %}" data-precision="0.1" data-value="50"></div>
                </div>
            {% endfor %}
            </div>

            <div class='row'>
            {% for id in id_list %}
                <div id="tooltip_humidity_{{ id }}" class = 'col-md-3 my-3 humidity_bars btn' data-toggle="tooltip" data-placement="top" title="Looks good!">
                    <h6>Sensor {{ id }}</h6>
                    <div id="humidity_bar_{{ id }}" class="center-block ldBar label-center" data-type="fill" data-img="{% static 'images/humidity.svg' %}" data-precision="0.1" data-value="50"></div>
                </div>
            {% endfor %}
            </div>


        </div>
    </div>
{% endblock %}