{% extends 'sensors/base.html' %}

{% load static %}

{% block mynavbar %}
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

          <li class="nav-item {{ home }}">
            <a id = "home_nav_text" class="nav-link" href="{% url 'home' %}">
              <img id="home_nav_icon" class = "nav_icon img-responsive {{ home }}" src="{% static 'images/home_icon_white.svg' %}" alt="Home Icon">
              Home
            <span class="sr-only">(current)</span></a>
          </li>

          <li class = "nav-item {{ graphs }}">
            <a id = "graph_nav_text" class="nav-link" href="{% url 'graphs' %}">
              <img id="graph_nav_icon" class = "nav_icon img-responsive {{ graphs }}" src="{% static 'images/graph_icon_white.svg' %}" alt="Graphs icon">
              &nbsp;Graphs
            <span class="sr-only">(current)</span></a>
          </li>

          <li id="table_nav_li" class="nav-item dropdown {{ tables }}">
            <a id="table_nav_text" class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <img id="table_nav_icon" class = "nav_icon img-responsive {{ tables }}" src="{% static 'images/spreadsheet_icon_white.svg' %}" alt="Table nav icon">
              &nbsp;Tables
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{% url 'table' %}">All</a>
              <div class="dropdown-divider"></div>
              {% for id in id_list %}
                  <a class="dropdown-item" href="{% url 'table_id' sensor_id=id %}">Sensor {{ id }}</a>
              {% endfor %}
            </div>
          </li>

          <li class="nav-item {{ help }}">
                <a id= "setup_nav_text" class="nav-link" href="{% url 'help' %}">
                  <img id="setup_nav_icon" class = "nav_icon img-responsive {{ help }}" src="{% static 'images/setup_icon_white.svg' %}" alt="Setup Icon">
                  &nbsp;Setup
                </a>
          </li>

          <li class="nav-item {{ about }}">
                <a id="about_nav_text" class="nav-link" href="{% url 'about' %}">
                  <img id="about_nav_icon" class = "nav_icon img-responsive {{ about }}" src="{% static 'images/about_icon_white.svg' %}" alt="About Icon">
                  &nbsp;About
                </a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav> 
{% endblock %}


{% block footer %}
    <div class="graph_9x9">
        <div class="container my-3"> <!-- my-3 is margin y for spacing -->
            <div class='row'>
                <div class='col-md-12'>
                    {% comment %} <a>Leaf logo made by <a href="https://www.flaticon.com/authors/roundicons" title="Roundicons">Roundicons</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></a> {% endcomment %}
                    {% comment %} <a>Background pattern made by <a href="http://buysellgraphic.com/" title="buysellgraphic">BSGStudio</a> from <a href="https://all-free-download.com/free-vector/download/plant-pattern-leaf-pot-icons-colored-design_6840621.html" title="all-free-download">all-free-download</a></a> {% endcomment %}
                    {% comment %} (for drop.svg) <div>Icons made by <a href="https://www.flaticon.com/authors/pixel-buddha" title="Pixel Buddha">Pixel Buddha</a> from <a href="https://www.flaticon.com/"             title="Flaticon">www.flaticon.com</a></div> {% endcomment %}

                    {% comment %} (for watering_plants.svg) <div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/"             title="Flaticon">www.flaticon.com</a></div> {% endcomment %}
                    {% comment %} (for Thermometer.svg) <div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/"             title="Flaticon">www.flaticon.com</a></div> {% endcomment %}
                    {% comment %} (for humidity.svg) <div>Icons made by <a href="https://www.flaticon.com/authors/those-icons" title="Those Icons">Those Icons</a> from <a href="https://www.flaticon.com/"             title="Flaticon">www.flaticon.com</a></div> {% endcomment %}
                    {% comment %} (for graph_icon.svg) <div>Icons made by <a href="https://www.flaticon.com/authors/mynamepong" title="mynamepong">mynamepong</a> from <a href="https://www.flaticon.com/"             title="Flaticon">www.flaticon.com</a></div> {% endcomment %}
                    {% comment %} (for home_icon.svg) <div>Icons made by <a href="https://www.flaticon.com/authors/monkik" title="monkik">monkik</a> from <a href="https://www.flaticon.com/"             title="Flaticon">www.flaticon.com</a></div> {% endcomment %}

                    {% comment %} <address>  {% endcomment %}
                        Author : Matthew R. Hubbard<br>
                        Email : MatthewHubbard39@gmail.com 
                    {% comment %} </address> {% endcomment %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

<script>
{% block jquery_nav %}
    //Make icon active when clicking to open table dropdown
    $("#table_nav_text").click(function(){
      $("#table_nav_icon").addClass("active");
    });

    $(document).mouseup(function(e) 
    {
        var container = $(".nav-item");
        var icon;
        if(container.attr("id") == "table_nav_icon"){
          icon = $("#table_nav_icon");
        }

        // if the target of the click isn't the container nor a descendant of the container
        //if (!container.is(e.target) && container.has(e.target).length === 0) 

        // if the target of the click isn't the container 
        if (!container.is(e.target)) 
        {
          if(container.hasClass('active') == false)
          {
            icon.removeClass("active");
          }
        }
    });

{% endblock %}
</script>
